body {
    background: #64570e;
}

#container {
    width: 960px;
    margin: 0 auto;
    background: white;
}

#header {
    height: 300px;
}
#header img {
    float: left;
    width: 300px;
    height: 300px;
}

#header h1 {
    position: relative;
    top: 150px;
    left: 10px;
    font-size: 4em;
}

#week-links ul{
    list-style: none;
}

#week-links ul li {    
    display: inline; 
    margin: 42px;
    width: 40px;
    min-height: 40px;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    width: 140px;
    height: 30px;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

span#name-on {
    color: rgb(133, 209, 19);
}

div#content {
    margin: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    min-height: 300px;
}

table {
    border: solid 1px black;
}

div#footer {
    min-height: 100px;
}